<!DOCTYPE html>
<head>
<link rel="stylesheet" href="style/css.css">
<link rel="stylesheet" href="style/ddsmoothmenu.css">
<title>Suits Inc</title>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/ddsmoothmenu.js">
</script>
<script type="text/javascript">

ddsmoothmenu.init({
	mainmenuid: "templatemo_menu", //menu DIV id
	orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
	classname: 'ddsmoothmenu', //class added to menu's outer DIV
	//customtheme: ["#1c5a80", "#18374a"],
	contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
})

</script>
</head>
<body>
<div id="container">
	<div id="wrap">
		<div id="header">
        	<div id="logo">
       	    <img src="images/logo.png" width="207" height="106"></div>
            <div id="header-right-box"><br/><br/><br/><br/><br/><br/>
            `<a href="register.html">Register</a> | <a href="recover_password.html">Recover Password</a>
            </div>
        </div>
	</div>
    
    <div id="nav">
    	<div id="wrap">
            <div id="templatemo_menu" class="ddsmoothmenu">
        <ul>
            <li><a href="index.html" class="selected">Home</a></li>
            <li><a href="about.html">About Us</a></li>
            <li><a href="products.html">Products</a>
                <ul>
                	<li><a href="#"><h4>Men's Products</h4></a></li>
                    <li><a href="#">Accessories</a></li>
                    <li><a href="#">Clothing</a></li>
                    <li><a href="#">Shoes</a></li>
                    <li><a href="#"><h4>Women's Products</h4></a></li>
                    <li><a href="#">Accessories</a></li>
                    <li><a href="#">Clothing</a></li>
                    <li><a href="#">Shoes</a></li>
                    <li><a href="#"><h4>Kids Products</h4></a></li>
                    <li><a href="#">Accessories</a></li>
                    <li><a href="#">Clothing</a></li>
                    <li><a href="#">Shoes</a></li>

              </ul>
            </li>
            <li><a href="contact.html">Contact Us</a></li>
            <li><a href="#">Login</a>
                <ul>
                    <li>
                    <form action="" method="post">
                    <table width="240" border="0" style="padding:10px">
                          <tr>
                            <td>Username</td>
                            <td><input name="" type="text"></td>
                          </tr>
                           <tr>
                            <td>Password</td>
                            <td><input name="" type="password"></td>
                          </tr>
                           <tr>
                            <td>&nbsp;</td>
                            <td><input name="" type="submit"  value="Login" class="button"></td>
                          </tr>
                        </table>
                        </form>
                    </li>
              </ul>
        </ul>
        <br style="clear: left" />
    </div>
            </div>
        </div>
    </div>
    
    <div id="banner">
    	<div id="wrap">
        
        </div>
    </div>
    
    <div id="content-wrap">
    	<div id="wrap">
        	<div id="content">
            	<div id="left-sidebar">
                	<h2>Categories</h2>
               	  <h3>Men</h3>
                    	<ul>
                        	<li><a href="#">Accessories</a></li>
                            <li><a href="#">Clothing</a></li>
                            <li><a href="#">Shoes</a></li>
                        </ul>
                  <h3>Women</h3>
                        <ul>
                        	<li><a href="#">Accessories</a></li>
                            <li><a href="#">Clothing</a></li>
                            <li><a href="#">Shoes</a></li>
                        </ul>
                  <h3>Kids</h3>
                        <ul>
                        	<li><a href="#">Accessories</a></li>
                            <li><a href="#">Clothing</a></li>
                            <li><a href="#">Shoes</a></li>
                        </ul>
                        <h2>Newsletter Subscription</h2>
                        <form action="" method="">
                        	<table width="240" border="0" style="padding:10px">
                          <tr>
                            <td><input name="" type="text"></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td><input name="" type="submit"  value="Subscribe" class="button"></td>
                            <td></td>
                          </tr>
                          </table>
                        </form>
                </div>
                
                <div id="right-sidebar">
                	<h2>Welocme</h2>
                    
                    
                </div>
                <div class="clear"></div>
                
                <div id="footer">
                    <div id="wrap">
                        <div id="footer-content">
                        	<div id="footer-box">
                            	<h3>Links</h3>
                                	<ul>
                                        <li><a href="#">Home</a></li>
                                        <li><a href="#">About Us</a></li>
                                        <li><a href="#">Products</a></li>
                                        <li><a href="#">Contact US</a></li>
                                    </ul>
                            </div>
                            
                            <div id="footer-box">
                            	<h3>Products Category</h3>
                                    <ul>
                                        <li><a href="#">Mens</a></li>
                                        <li><a href="#">Women</a></li>
                                        <li><a href="#">Kids</a></li>
                                    </ul>
                            </div>
                            
                            <div id="footer-box">
                            	<h3>Categories</h3>
                                    <ul>
                                        <li><a href="#">Accessories</a></li>
                                        <li><a href="#">Clothing</a></li>
                                        <li><a href="#">Shoes</a></li>
                                    </ul>
                            </div>
                            
                            
                        </div>
                    </div>
                    <div class="clear"></div>
            	</div>
                
                <div class="clear"></div>
        	</div>
        </div>
        <div class="clear"></div>
    </div>
</div>
</body>
</html>
